#App {
  text-align: center;
  margin-left: 10px;
}

hr {
  background-color: white !important;
}
#col {
  display: flex;
}
#col1 {
  margin-left: 100px;
}
#col2 {
  margin-left: 300px;
  bottom: 2px;
  position: relative;
}
h2 {
  color: darkred !important;
}
p:hover {
  color: darkred !important;
}
#jak > h1 {
  color: darkred;
}
