#companyName {
  margin-right: 25%;
}

#otherButtons a {
  margin: 25px;
}

.navBar :hover {
  color: rgb(78, 83, 119);
  cursor: pointer;
}
.navBar {
  font-size: 17px;
  /* padding: 0 15px; */
  margin-right: 0px;
}
.navButton {
  border: 2px solid rgb(78, 83, 119);
  color: rgb(78, 83, 119);
  background-color: white;
  border-radius: 15px;
  margin-bottom: 15px;
}

button .navButton :hover {
  border: 0px;
  margin-left: 6px;
}

div {
  padding-top: 10px;
  color: black;
}

#companyName {
  font-family: "Righteous", cursive;
  font-size: 20px;
}
button {
  color: black;
}

.navBar {
  padding: 0 15px;
}
