#companyName {
  margin-right: 25%;
}

#otherButtons a {
  margin: 25px;
}

.navBar :hover {
  color: darkcyan;
  cursor: pointer;
}

.navButton {
  border: 2px solid darkcyan;
  background-color: white;
  border-radius: 15px;
}

button .navButton :hover {
  border: 0px;
  margin-left: 6px;
}

div {
  padding-top: 10px;
  color: black;
}

#companyName {
  font-family: "Righteous", cursive;
  font-size: 20px;
}

button {
  color: black;
}

.navBar {
  padding: 0 15px;
}
