#main2 {
  color: rgb(78, 83, 119);
  font-size: 3.1em;
  margin-bottom: -1em;
}

#page2 {
  margin-top: 30em;
  position: relative;
  height: 55em;
}

#scroll {
  width: 80em;
  height: 30em;
  overflow: auto;
  position: relative;
  bottom: 30.5em;
  right: 5em;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#scroll::-webkit-scrollbar {
  display: none;
}

#services div {
  height: 9em;
  max-width: 40em;
  left: 45em;
  position: relative;
}

#icons {
  margin-right: 0.5em;
  position: relative;
  top: 0.1em;
}

div .sliderOption {
  margin: 0.5em 0;
  padding: 1em;
  top: 0px;
  position: relative;
  background-color: rgb(78, 83, 119);
  text-align: left !important;
}

.littleHeading:hover,
.sliderOption :hover,
.littleBody:hover {
  cursor: pointer;
}

.littleHeading {
  color: white;
  font-size: 30px;
}

/* */
.images {
  margin-left: 6em;
}
#back1 {
  z-index: 1;
  background-repeat: no-repeat;
  position: absolute;
  background-size: 31.3em;
  background-image: url("../Images/up1.jpeg");
  height: 31.3em;
}
#front1 {
  position: relative;
  z-index: -1;
  background-size: 31.3em;
  background-image: url("../Images/down1.jpeg");
  background-repeat: no-repeat;
  height: 31.3em;
}
#back2 {
  z-index: 1;
  background-repeat: no-repeat;
  position: absolute;
  background-size: 31.3em;
  background-image: url("../Images/up2.jpg");
  height: 31.3em;
}
#front2 {
  position: relative;
  z-index: -1;
  background-size: 31.3em;
  background-image: url("../Images/down1.jpeg");
  background-repeat: no-repeat;
  height: 31.3em;
}
#back3 {
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 31.3em;
  height: 31.3em;
  position: absolute;
  background-image: url("../Images/up3.jpg");
}
#front3 {
  z-index: 0;
  background-size: 31.3em;
  background-repeat: no-repeat;
  background-image: url("../Images/down3.png");
  height: 31.3em;
  position: relative;
}
.slidecontainer {
  position: relative;
  padding-top: 9em;
}
.slider {
  position: absolute;
  text-align: left;
  width: 31.3em;
  z-index: 1;
  bottom: 0em;
}
#slider2 {
  height: 15.3em;
}

#img1 {
  display: block;
}
#img2,
#img3 {
  display: none;
}
#down_arrow {
  width: 25em;
  position: relative;
  bottom: 35em;
  z-index: -1;
  left: 18em;
}