#Main {
  font-family: "Righteous", cursive;
  font-size: 40px;
  max-width: 420px;
  color: #fff;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

#main2 {
  color: darkcyan;
  font-size: 50px;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

#slider div {
  margin-right: 400px;
  height: 500px;
}

#services {
  bottom: 370px;
  position: relative;
}

#scroll {
  width: 1380px;
  height: 480px;
  overflow: auto;
  position: relative;
  bottom: 300px;
  right: 50px;
  max-width: 100%;
  overflow-x: hidden;
}

#scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#scroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
#services div {
  height: 140px;
  max-width: 600px;
  left: 750px;
  position: relative;
}
#icons {
  margin-right: 20px;
  position: relative;
  top: 5px;
}
div .sliderOption {
  margin: 10px 0;
  padding: 10px;
  bottom: 495px;
  top: 350px;
  position: relative;
  background-color: rgb(78, 83, 119);
  text-align: left !important;
}
.littleHeading:hover,
.sliderOption :hover,
.littleBody:hover {
  cursor: pointer;
}

.littleHeading {
  color: white;
  font-size: 30px;
}
.littleBody {
  color: white;
  top: 20px;
  position: relative;
  left: 55px;
  width: 500px;
  font-size: 16px;
  display: table-caption;
}

/* */
.images {
  margin-left: 15px;
  position: relative;
  width: 500px;
  height: 500px;
  margin-top: 20px;
  margin-left: 80px;
}
#back1 {
  z-index: 1;
  background-repeat: no-repeat;
  position: absolute;
  background-size: 500px;
  background-image: url("../Images/up1.jpeg");
  width: 35pc;
  height: 35pc;
  top: 200px;
}
#front1 {
  position: relative;
  top: 170px;
  z-index: -1;
  background-size: 500px;
  background-image: url("../Images/down1.jpeg");
  background-repeat: no-repeat;
  width: 35pc;
  height: 35pc;
}
#back2 {
  z-index: 1;
  background-repeat: no-repeat;
  position: absolute;
  background-size: 500px;
  background-image: url("../Images/up2.jpg");
  width: 35pc;
  height: 35pc;
  top: 200px;
}
#front2 {
  position: relative;
  top: 170px;
  z-index: -1;
  background-size: 500px;
  background-image: url("../Images/down1.jpeg");
  background-repeat: no-repeat;
  width: 35pc;
  height: 35pc;
}
#back3 {
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 500px;
  width: 35pc;
  height: 35pc;
  top: 200px;
  position: absolute;
  background-image: url("../Images/up3.jpg");
}
#front3 {
  top: 170px;
  z-index: 0;
  background-size: 500px;
  background-repeat: no-repeat;
  background-image: url("../Images/down3.png");
  width: 35pc;
  height: 35pc;
  position: relative;
  bottom: 580px;
}
#slidecontainer {
  position: relative;
}
.slider {
  position: absolute;
  text-align: left;
  width: 500px;
  z-index: 1;
  text-decoration: none;
}
#slider2 {
  position: relative;
  bottom: 340px;
  top: -10px;
  position: relative;
  padding-top: 250px;
  position: relative;
  right: 8px;
}
#lol {
  top: 200px;
}
#img1 {
  display: block;
}
#img2 {
  display: none;
}
#img3 {
  display: none;
}

#down_arrow {
  width: 350px;
  position: relative;
  bottom: 360px;
  z-index: -1;
  left: 285px;
}
