#main {
  margin-top: 20px;
  font-size: 50px;
  color: white;
}

#leftover {
  top: 20px;
  position: relative;
  color: whitesmoke;
}

#page1 {
  margin-top: 12%;
}

#rightslide {
  margin-left: 350px;
  position: relative;
}
