#page3_left {
  display: flex;
  margin: 10px 0;
  margin-left: 100px;
  border: 3px solid darkcyan;
  border-radius: 30px;
  position: relative;
  width: 520px;
  height: 280px;
}

#page3_body_left {
  width: 80%;
  left: 45px;
  top: 124px;
  position: absolute;
  font-size: 16px;
}

.page3_heading_left {
  margin: 38px auto;
  font-size: 40px;
}
