#page3_cards {
  display: flex;
  margin: 10px 200px;
  border-radius: 5px;
  position: relative;
  height: 140px;
  background-color: rgb(78, 83, 119);
  color: white;
}

#page3_body {
  width: 55%;
  left: 425px;
  top: 40px;
  position: absolute;
  font-size: 14px;
}

.page3_heading {
  margin: auto 80px;
  font-size: 30px;
}
