#main {
  position: absolute;
  left: 150px;
  font-size: 50px;
}

#leftover {
  top: 200px;
  position: relative;
  left: -380px;
}

#page1 {
  margin-top: 12%;
}

#rightslide {
  margin-left: 350px;
  position: relative;
}
