* {
  font: righteous !important;
}

#App {
  text-align: center;
  background-image: url("./Images/try2.jpg");
  background-repeat: no-repeat;
  background-size: 101%;
  position: absolute;
  margin: -25px -56px;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
