#bar {
  background-color: darkred !important;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  text-align: left;
  padding-left: 80px;
  font-size: 25px;
  height: 130px;
  padding-top: 65px;
  margin-bottom: 10px;
}

#bbotton {
  border-radius: 10px;
  position: absolute;
  width: 140px;
  height: 50px;
  right: -105px;
}

#hbar {
  left: 905px;
  position: relative;
  bottom: 50px;
}

#sbar {
  text-align: left;
  background-color: darkred !important;
  font-size: 15px;
}
