#companyName {
  margin-right: 25%;
}

#otherButtons a {
  margin: 25px;
}

.hred :hover {
  color: darkred;
}

a {
  text-decoration: none;
  margin: 0 4px;
  color: white;
  margin: 0 50px;
}
.de {
  border: 2px solid red;
  border-radius: 15px;
}

.de :hover {
  border: 0px solid;
  font-size: 15px;
  color: red;
}

div {
  padding-top: 10px;
  background-color: rgb(27, 21, 21);
  color: white;
}

#companyName {
  font-family: "Righteous", cursive;
  font-size: 20px;
}

button {
  color: white;
}
